force-app/main/default/flows/Billing_Total_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SumOfTotalPrice</name>
        <label>SumOfTotalPrice</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalPriceOfAllProductLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_all_Product_Line_Item.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_all_Product_Line_Item</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Billing Total Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Total Price</label>
    <loops>
        <name>Loop_Over_all_Product_Line_Item</name>
        <label>Loop Over all Product Line Item</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetTotalPriceValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumOfTotalPrice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Billing_Record_Total_Price</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Product_Line_Items</name>
        <label>Get all Product Line Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_all_Product_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing__r.Id</elementReference>
            </value>
        </filters>
        <object>Product_Line_Item__c</object>
        <outputReference>GetTotalPriceValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Record_Total_Price</name>
        <label>Update Billing Record Total Price</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>TotalPriceOfAllProductLineItems</elementReference>
            </value>
        </inputAssignments>
        <object>Billing__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Product_Line_Items</targetReference>
        </connector>
        <object>Product_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetTotalPriceValue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>TotalPriceOfAllProductLineItems</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
